header {
    background:#3f75a7; 
}
header .top {
    max-width:1440px;  margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 30px;
    position:relative;
}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {

}
header nav > ul {
    display:flex;
    
}
header nav > ul > li {
    padding-right:50px;
    text-align: center;
}
header nav > ul > li:last-child {padding:0;}
header nav > ul > li > a {
    /* background:lightsalmon; */
}
header nav > ul > li > a > img {}
header nav > ul > li .sub_box {
    padding-top:57px;
    position:absolute;
    z-index:100;
    left:0;

}
header nav > ul > li .sub_box .sub {
    background:rgba(33, 86, 134, 0.3);
    width:1440px;
    /* padding-top:90px; */
    /* padding-bottom:10px; */
    text-align: center;
    display:flex;
    justify-content:center;
    padding:50px 0;
    /* padding-top:60px; */
}
header nav > ul > li > .sub_box .sub li {
    display: flex;
    flex-flow:column nowrap;
    padding: 0 50px;
    border-right:1px solid rgba(250, 252 ,255, 0.2);
}
header nav > ul > li > .sub_box .sub li a {
    font-size:1.125rem;
    color:#fff;
    padding-bottom:50px;
}
header nav > ul > li > .sub_box .sub li a:hover {
    color:lightsalmon;
}
header nav > ul > li > .sub_box .sub li a span {
    font-weight:700;
    padding-bottom:10px;
    font-size:1.333rem;
}
/*---------------------------------------메인------------------------------------*/
main {}
main .main_banner {
    width:1440px; margin:0 auto;}
main .main_banner img {}
/*---------------------------------컨테이너----------------------------------------*/
main .container {
    max-width:1440px; margin:0 auto;
}
main .container .best {
    /* background:lightblue; */
    width:calc(100% - 60px); margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0;
}
main .container .best .b_left {
    /* background: lightgreen; */
    position: relative;
}
main .container .best .b_left h2 {}
main .container .best .b_left p {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top:30px;
    font-size:1.250rem;
    font-weight: 500;
    line-height:28px;
    letter-spacing: -0.4px;
}
main .container .best .b_left p  span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.250rem;
    font-weight:600;
    color:#3f75a7;
}
main .container .best .b_left .swiper-button-prev {
    background:url(../images/item_img/prev.png) no-repeat;
    width:40px; height:40px;
    top:200px;
    right:20px;
}
main .container .best .b_left .swiper-button-next {
    background:url(../images/item_img/next.png) no-repeat;
    width:40px; height:40px;
    top:200px;
    left:120px
}
main .container .best .b_left .swiper-button-prev::after,
main .container .best .b_left .swiper-button-next::after {display:none;}
/*---*/
main .container .best .b_right {
    /* background:lightcoral; */
}
main .container .best .b_right #b_slide {
    max-width:920px;
    /* width: calc(100% - 60px); */
}
main .container .best .b_right #b_slide .swiper-wrapper {}
main .container .best .b_right #b_slide .swiper-wrapper .swiper-slide {
    /* background:lightseagreen; */
    background: #F4F4F4;
    width:300px; height:300px;
    filter: brightness(70%);
    border-radius:150px;
}
main .container .best .b_right #b_slide .swiper-wrapper .swiper-slide:hover {
    filter:none;
}
main .container .best .b_right #b_slide .swiper-wrapper .swiper-slide img {
    
}

/*-----------------------------------------------프리미엄 메뉴--------------------------*/
main .container .premium {
    /* background:lightblue; */
    width:calc(100% - 60px); margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 0;
}
main .container .premium .p_right {
    /* background: lightgreen; */
    position: relative;
}
main .container .premium .p_right h2 {}
main .container .premium .p_right p {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top:30px;
    font-size:1.250rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align:right;
}
main .container .premium .p_right p span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size:1.250rem;
    color:#3f75a7;
    font-weight: 600;
}
main .container .premium .p_right .swiper-button-prev {
    background:url(../images/item_img/prev.png) no-repeat;
    width:40px; height:40px;
    top:200px;
    left:130px
}
main .container .premium .p_right .swiper-button-next {
    background:url(../images/item_img/next.png) no-repeat;
    width:40px; height:40px;
    top:200px;
    right:20px;
}
main .container .premium .p_right .swiper-button-prev::after,
main .container .premium .p_right .swiper-button-next::after {display:none;}
/**/
main .container .premium .p_left {
    /* background:lightcoral; */
}
main .container .premium .p_left #p_slide {
    max-width:920px;
    /* width: calc(100% - 60px); */
}
main .container .premium .p_left #p_slide .swiper-wrapper {}
main .container .premium .p_left #p_slide .swiper-wrapper .swiper-slide {
    /* background:lightseagreen; */
    background: #F4F4F4;
    width:300px; height:300px;
    filter: brightness(70%);
    border-radius:150px;
}
main .container .premium .p_left #p_slide .swiper-wrapper .swiper-slide:hover {
    filter:none;
}
main .container .premium .p_left #p_slide .swiper-wrapper .swiper-slide img {
    
}
