.title_top_map h1 {
    margin-top:80px;
    padding:100px 0;
    font-size:3.157rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:700;
    text-align: center;
}
.map_choice {
    max-width:1380px; margin:0 auto;
    display: flex;
    flex-flow:row wrap;
    text-align: center;
}
.map_choice .active {
    background:#3f75a7;
    color:#FFF;
}
.map_choice a {
    /* width:280px; */
    font-family: 'Noto Sans KR', sans-serif;
    border:1px solid #aaa ;
    margin:20px 20px 0 0;
    font-size:1.1rem;
    padding:10px 57px;
}
.map_choice a:last-child {margin-right:0;}

.line {
    padding:50px 0 50px 0;
}
.line span {
    display:block;
    width:1380px; margin:0 auto;
    height:1px;
    background:#000;
}
.map_sub {margin-bottom:50px;}
.map_sub p {
    font-family: 'Noto Sans KR', sans-serif;
    display: none;
    font-size:1.777rem;
    text-align: center;
    font-weight: 600px;
}
.map_sub p:first-child {display:block;}
#map {
    width:800px; height:500px; margin:0 auto;
    background:lightcoral;
    border:1px solid #aaa;
    margin-bottom:50px;
}
